@model int

@{ 
    ViewBag.Title = "404 Not Found";
}

<div class="alert alert-danger my-2">
    <h4>404 Not Found</h4>
    <hr />
    <h5>Can not found employee with Id = @Model</h5>
    <a class="btn btn-outline-success" style="width:auto" asp-controller="Home" asp-action="Index">Back to index</a>
</div>