@model EditRoleViewModel
@{
    ViewBag.Title = "Edit Role";
}

<div class="mt-3">
    <form method="post">
        <h3>Edit Role</h3>
        <div class="mb-3 row">
            <label asp-for="Id" class="col-sm-1 col-form-label">Id</label>
            <div class="col-sm-11">
                <input asp-for="Id" readonly class="form-control">
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="RoleName" class="col-sm-1 col-form-label">Role Name</label>
            <div class="col-sm-11">
                <input asp-for="RoleName" class="form-control">
            </div>
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>

        <button type="submit" class="btn btn-primary" style="width:auto">Update</button>
        <a class="btn btn-primary" asp-action="ListRoles">Cancel</a>
    </form>
</div>


<div class="mt-3">

    <div class="card mb-3">
        <div class="card-header">
            <h5>Users in this role</h5>
        </div>
        <div class="card-body">
            @if (Model.Users.Any())
            {
                @foreach (var user in Model.Users)
                {
                    <h3 class="card-title">@user</h3>
                }
            }
            else
            {
                <h5 class="card-title">There is not any user in this role</h5>
            }
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" asp-action="EditUsersInRole" asp-controller="Administration" asp-route-roleId="@Model.Id" style="width:auto">Add or Remove User From Role</a>
        </div>
    </div>
</div>